/public
resources/
node_modules/
.hugo_build.lock
/.idea/
/.vscode/
/site/
/venv/

/ADASS2024/PolarisPoster/Poster/images/architecture-eps-converted-to.pdf
/ADASS2024/PolarisPoster/Poster/images/use-cases-eps-converted-to.pdf
/ADASS2024/PolarisPoster/Poster/PolarisPoster.aux
/ADASS2024/PolarisPoster/Poster/PolarisPoster.fdb_latexmk
/ADASS2024/PolarisPoster/Poster/PolarisPoster.fls
/ADASS2024/PolarisPoster/Poster/PolarisPoster.log
/ADASS2024/PolarisPoster/Poster/PolarisPoster.nav
/ADASS2024/PolarisPoster/Poster/PolarisPoster.out
/ADASS2024/PolarisPoster/Poster/PolarisPoster.snm
/ADASS2024/PolarisPoster/Poster/PolarisPoster.toc
