site_name: Polaris
repo_url: https://github.com/orppst/guide
edit_uri: edit/main/docs/

nav:
  - Home: index.md
  - Observer:
      - Getting Started: Observer/index.md
      - Creating Proposals:
          - Starting : Observer/Creating Proposals/index.md
          - Adding Targets: Observer/Creating Proposals/adding-targets.md
          - Adding Technical Goals: Observer/Creating Proposals/adding-technical-goals.md
          - Building an Observation: Observer/Creating Proposals/build-observation.md
      - Justifications:
          - Creating and Compiling: Observer/Justifications/index.md
      - Submitting Proposals:
          - Submitting: Observer/Submitting Proposals/index.md
  - TAC:
      - Getting Started: TAC/index.md
  - Observatory:
      - Getting Started: Observatory/index.md
  - Developer:
      - Getting Started: Developer/index.md
      - Reference:
          - Use Cases: Developer/use-cases.md
          - Architecture: Developer/architecture.md
          - Data Model: Developer/ProposalDM.md
          - API: Developer/api.md
          - Design:
              - Approach: Design/Approach.md
              - Purpose and Scope: Design/PurposeAndScope.md
              - Business Requirements: Design/BusinessRequirements.md
              - Business Rules: Design/BusinessRules.md
              - Components: Design/Components.md
              - Non-functional Requirements: Design/NFRs.md
          - Project Management:
              - Project Management: Project Management/ProjectManagement.md
              - Delivery Plan: Project Management/DeliveryPlan.md
      - Deployment:
          - Getting Started: Deployment/index.md
theme:
  name: material
  features:
    - navigation.instant
    - navigation.tabs
    - content.action.edit
    - toc.follow # 2024-06-24 mwa
  logo: assets/logo.svg
  favicon: assets/icons/polaris_square_icon.png
  palette:
# 2024-06-24 mwa colour scheme
#   primary: black
    - scheme: default
      toggle:
         icon: material/toggle-switch-off-outline
         name: Switch to dark mode
      primary: cyan
      accent: deep orange
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: amber
      accent: lime
# 2024-06-24 mwa

  custom_dir: theme_overrides

markdown_extensions:
  - tables
  - footnotes
  - plantuml_markdown:
      server: https://www.plantuml.com/plantuml  # PlantUML server, for remote rendering
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

plugins:
  - search


